/60min.jpg
/60min.jpg (SRM Q=25.0).tif
/60min.jpg_shaded.tif
/90 min xlink - 30min-1_binary1.jpg
/90 min xlink - 30min_gray.tif
/Aquacel Extra data.zip
/Color-survey-1_binary2.jpg
/DRY.jpg
/DRY_binary 1.jpg
/Exufiber data.zip
/Images
/Img1_Filtered.jpg
/Img2_Binary.jpg